.block {
    margin: 100px auto;
    text-align: center;
}

.whiteBlock {
    width: 460px;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 20px;
}